<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset</title>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <link rel="stylesheet" href="../static/modal.css">
</head>
<body>
<div class="modal">
    <form action="/res" method="post">
        <div class="modal-header">Сброс пароля</div>
        <div class="modal-body">
            <div class="server_log">{{ error }}</div>
            <center class="body">
                <label class="input">
                    Email: <a href="log">Вспомнили пароль?</a>
                    <br>
                    <input type="text" name="email" value="{{ email }}">
                </label>
                <div class="h-captcha" data-sitekey="{{ Key }}"></div>
            </center>
        </div>
        <div class="modal-footer">
            <button type="submit" class="footer-button">Сброс</button>
        </div>
    </form>
</div>
</body>
</html>